<div class="row">
	<div class="col-md-12">
		Filtres :
		<div class="div-table">
			<div class="div-row">
				<div class="div-cell"> 
					Roles : 
					<md-chips ng-repeat="r in roles | orderBy:'-level'" readonly="false">
						<md-chip ng-init="r.selected = false" ng-click="r.selected = !r.selected; init()" ng-class="{selected: r.selected}" class="md-chip noMod selectable {{r.alias.toLowerCase().slice(5)}}">
							<div class="md-chip-content">
								<span>
						        	<strong>{{r.alias.slice(5)}}</strong>
						        </span>
							</div>
						</md-chip>
					<md-chips>
				</div>	
				<div class="div-cell">
					Username :
					<input ng-model="usernameFilter" ng-change="init()" type="text"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div>
			Total : {{nbUsers}}
		</div>
	</div>
</div>
<div class="row top10">
	<div class="col-md-12 text-center">
		<div class="div-table w100 users ng-cloak">
			<div class="div-row divh">
				<div class="div-cell divh username lhc">
					<span ng-click="sortField('username')" class="sort" ng-class="{sortedAsc: sort.field == 'username' && sort.asc, sortedDesc: sort.field == 'username' && !sort.asc}">
						Username
					</span>
				</div>
				<div class="div-cell divh roles">
					Roles inactifs :
					<md-checkbox class="md-primary" ng-model="showInactive" ng-init="showInactive = true" aria-label="Montrer inacrifs">
					</md-checkbox>
				</div>
				<div class="div-cell divh email">
					<span ng-click="sortField('email')" class="sort" ng-class="{sortedAsc: sort.field == 'email' && sort.asc, sortedDesc: sort.field == 'email' && !sort.asc}">
						email
					</span>
				</div>
				<div class="div-cell divh email-confirm">
					<span ng-click="sortField('email_confirm')" class="sort" ng-class="{sortedAsc: sort.field == 'email_confirm' && sort.asc, sortedDesc: sort.field == 'email_confirm' && !sort.asc}">
						cofirm.
					</span>
				</div>
				<div class="div-cell divh derCon">
					<span ng-click="sortField('lastConnexion')" class="sort" ng-class="{sortedAsc: sort.field == 'lastConnexion' && sort.asc, sortedDesc: sort.field == 'lastConnexion' && !sort.asc}">
						Dernière connexion
					</span>
				</div>
				<div class="div-cell divh crea">
					<span ng-click="sortField('creation')" class="sort" ng-class="{sortedAsc: sort.field == 'creation' && sort.asc, sortedDesc: sort.field == 'creation' && !sort.asc}">
						Création
					</span>
				</div>
				<div class="div-cell divh active">
					<span ng-click="sortField('actif')" class="sort" ng-class="{sortedAsc: sort.field == 'actif' && sort.asc, sortedDesc: sort.field == 'actif' && !sort.asc}">
						Actif
					</span>
				</div>
				<div class="div-cell divh raz text-center rhc">
					raz
				</div>
			</div>
			<div class="div-row" ng-repeat="u in users">
				<div class="div-cell">
					{{u.username}}
				</div>
				<div class="div-cell">
					<div class="div-row">
						<div class="div-cell nopadding">
							<md-chips ng-repeat="r in u.roles | orderBy:'-level'" readonly="false" class="ng-cloak">
								<md-chip ng-show="r.active || showInactive" class="md-chip {{r.alias.toLowerCase().slice(5)}}" ng-class="{noMod: curUser.level >= u.level && curUser.level !== 0}">
									<div class="md-chip-content">
										<span>
								        	<strong>{{r.alias.slice(5)}}</strong>
								        </span>
									</div>
									<div ng-show="!(curUser.level >= u.level && curUser.level !== 0)" class="md-chip-remove-container">
										<button ng-click="removeRole(u, r)" class="md-chip-remove" type="button">
											<md-icon md-svg-icon="md-close" aria-hidden="true">
											</md-icon>    
										</button>
									</div>
								</md-chip>
							<md-chips>
						</div>
						<div class="div-cell nopadding">
							<div class="dropdown" ng-show="filteredItems.length > 0">
								<button class="addBtn" data-toggle="dropdown">
									<md-icon md-svg-src="/svg/add.svg" aria-hidden="true">
									</md-icon>    
								</button>
								<ul class="dropdown-menu">
									<li ng-click="addRole(u, r)" ng-repeat="r in filteredItems = (roles | orderBy:'-level' | notIn:u.roles:curUser.level) track by $index"><a href="#">{{r.alias}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="div-cell">
					{{u.email}}
				</div>
				<div class="div-cell">
					<md-switch ng-class="{'md-primary': !(curUser.level >= u.level && curUser.level !== 0)}" ng-disabled="curUser.level >= u.level && curUser.level !== 0" ng-model="u.email_confirm" ng-change="confirmEmail(u, u.email_confirm)" aria-label="actif">
					</md-switch>
				</div>
				<div class="div-cell">
					{{u.lastConnexion | date:'dd/MM/yyyy HH:mm:ss'}}
				</div>
				<div class="div-cell">
					{{u.creation | date:'dd/MM/yyyy HH:mm:ss'}}
				</div>
				<div class="div-cell">
					<md-switch ng-class="{'md-primary': !(curUser.level >= u.level && curUser.level !== 0)}" ng-disabled="curUser.level >= u.level && curUser.level !== 0" ng-model="u.actif" ng-change="setActive(u, u.actif)" aria-label="actif">
					</md-switch>
				</div>
				<div class="div-cell btn-mini">
					<md-button ng-disabled="curUser.level >= u.level && curUser.level !== 0" class="md-fab md-primary" aria-label="Use Android">
						<md-icon md-svg-src="/svg/raz.svg"></md-icon>
					</md-button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-center">
		<div class="div-table w100">
			<div class="div-row">
				<div class="div-cell text-center">
					<uib-pagination boundary-links="true" max-size="10" ng-change="init()" items-per-page="10" total-items="nbUsers" ng-model="curPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
</div>